@model GymManager.Core.Products.EquipmentType

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">
        <div class="col-6">
            <h3 class="mt-5">EquipmentType Edition</h3>

        </div>
        <div class="col-6">
            <a asp-action="Index" class="btn btn-outline-info">Back</a>
        </div>
    </div>

    <form asp-action="Edit">

        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label asp-for="Name" class="form-label">First Name</label>
            <input type="text" class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Brand" class="form-label">Brand</label>
            <input type="text" class="form-control" asp-for="Brand" />
            <span asp-validation-for="Brand" class="text-danger"></span>

        </div>

        <div class="mb-3">
            <label asp-for="Cost" class="form-label">Cost</label>
            <input class="form-control" asp-for="Cost" />
            <span asp-validation-for="Cost" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Units" class="form-label">Units</label>
            <input type="email" class="form-control" asp-for="Units" />
            <span asp-validation-for="Units" class="text-danger"></span>

        </div>

        <button type="submit" class="btn btn-primary mb-3">Submit</button>

    </form>
</div>
