@model GymManager.Web.Models.LoginModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container">
    <h1>Login Test</h1>
    
    <form asp-action="Login" class="col-md-4">

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input type="email" class="form-control" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input type="password" class="form-control" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" asp-for="RememberMe" />
            <label asp-for="RememberMe" class="form-check-label">Remember me?</label>
            <span asp-validation-for="RememberMe" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Login</button>

    </form>

</div>